:root {
    --buttonHover: #2a0e89;
    --buttonBackground: #000000;
    --deleteButton: #370000;
    --deleteButtonHover:rgb(235, 0, 0);
    --elementBack: hsl(200, 76%, 62%);
    --elementBackAlt:hsl(162, 50%, 48%);
    --shadow: rgba(78, 155, 222, 0.334);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: #000000;
    color: #000000;
}

#tableDiv{
    display: inline-block;
    min-height:500px;
    width: 100%;
    border-bottom: 1px solid var(--elementBackAlt);
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0;
    background-color: #fefefe17;
    border-radius: 20px;
}
header {
    background: var(--elementBack);
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    box-shadow: 5px 5px 2px var(--shadow);
    border: solid 1px var(--shadow);
}

h2 {
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    padding: 20px;
    padding-bottom: 100px;
    color: #ffffff;
}

form,
#budgetDiv {
    background: var(--elementBackAlt);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 1em;
    box-shadow: 5px 5px 3px var(--shadow);
    border: solid 1px var(--shadow);
    margin-top: 0;
    text-align: center;
    align-content: center;
    align-items: center;
}


#budgetDiv {
    padding-top: 0.5em;
    margin-left: 1em;
    text-align: center;
}

label {
    display: block;
    margin: 15px 0 5px;
    color: black;
}

#budgetLabel {
    color: #ffffff;
}

input,
.button {
    width: 98%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    background: var(--buttonBackground);
    color: white;
    align-self: center;
    display: inline-block;
}

input{
    width: 80%;
}


.button {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: 3px solid var(--buttonHover);
    padding: .5em 1em;
    border-radius: .25em;
    margin-left: 10px;
    position: relative;
    isolation: isolate;
    margin-top: 1em;
}

.button::after {
    content:'';
    position: absolute;
    z-index: -1;
    background: var(--buttonHover);
    inset:0;
    scale: 0 1;
    transform-origin: right;
    transition: scale 450ms;
}

.button:hover::after,
.button:focus-visible::after {
    transform-origin: left;
    scale: 1 1;
}

.deleteButton {
    background: var(--buttonBackground);
    width: 100%;
    color: white;
    margin-right: 0;
    margin-left: 0;
    border: 3px solid var(--deleteButtonHover);
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    padding: .5em 1em;
    border-radius: .25em;
    position: relative;
    isolation: isolate;
    height: 100%;
    margin-top: 0;
}

.deleteButton::after {
    content:'';
    position: absolute;
    z-index: -1;
    background: var(--deleteButtonHover);
    inset:0;
    scale: 0 1;
    transform-origin: right;
    transition: scale 450ms;
}

.deleteButton:hover::after,
.deleteButton:focus-visible::after {
    transform-origin: left;
    scale: 1 1;
}

table {
    width: 95%;
    border-collapse: collapse;
    margin-top: 0;
    color: #ffffff;
    margin-right: 1em;
    margin-left: 1em;
}

table,
th,
td {
    border: 1px solid #ddd;
}

td {
    text-align: center;
    padding: 8px;
    padding-right: 0;
    align-items: center;
    align-content: center;
}

.nonDelete {
    text-align: left;
    align-items: left;
    align-content: left;
    padding: 8px;
    padding-right: 0;
}

th {
    background-color: var(--elementBack);
    color: white;
}

#deleteHead {
    background: #00000000;
    border-right: solid #00000000;
    border-top: solid #00000000;
}

tr:nth-child(even) {
    background-color: #6d6c6c;
    color: #000000;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: hsla(115, 47%, 19%, 0.523);
    border: 1px solid rgba(255, 255, 255, 0.256);
    border-bottom: none;
    color: #69bf0d;
    text-align: center;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    z-index: 10;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
}

#budgetDisplay {
    text-align: center;
}

.over-budget {
    color: red;
    background-color: #00000087;
    border: solid 1px;
    border-color: red;
    border-bottom: none;
}

.required{
    font-size: 12px;
    color: rgb(172, 81, 81);
    font-weight: bold;
}

#addEmployeeForm{
    display: inline-block;
}

#updateBudget, #submitButton{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
}